poc/XL/360_CA/.terraform/modules/modules.json
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/aws/4.66.1/linux_amd64/terraform-provider-aws_v4.66.1_x5
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.0/linux_amd64/terraform-provider-local_v2.4.0_x5
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/linux_amd64/terraform-provider-random_v3.5.1_x5
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
poc/XL/360_CA/.terraform.lock.hcl
