poc/XL/360_CA/.terraform/modules/modules.json
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/aws/4.66.1/linux_amd64/terraform-provider-aws_v4.66.1_x5
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.0/linux_amd64/terraform-provider-local_v2.4.0_x5
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/linux_amd64/terraform-provider-random_v3.5.1_x5
poc/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
poc/XL/360_CA/.terraform.lock.hcl
learning/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/CHANGELOG.md
learning/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/LICENSE
learning/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/README.md
learning/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/terraform-provider-docker_v2.13.0
learning/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.59.0/linux_amd64/terraform-provider-aws_v4.59.0_x5
learning/aws/instance/.terraform/environment
learning/aws/instance/.terraform/terraform.tfstate
learning/aws/instance/.terraform/providers/registry.terraform.io/hashicorp/aws/4.59.0/linux_amd64/terraform-provider-aws_v4.59.0_x5
learning/aws/instance/.terraform/providers/registry.terraform.io/hashicorp/aws/4.60.0/linux_amd64/terraform-provider-aws_v4.60.0_x5
learning/aws/instance/.terraform.lock.hcl
learning/aws/instance/terraform.tfstate
learning/aws/instance/terraform.tfstate.backup
learning/aws/vpc/.terraform/environment
learning/aws/vpc/.terraform/terraform.tfstate
learning/aws/vpc/.terraform/providers/registry.terraform.io/hashicorp/aws/4.59.0/linux_amd64/terraform-provider-aws_v4.59.0_x5
learning/aws/vpc/.terraform/providers/registry.terraform.io/hashicorp/aws/4.60.0/linux_amd64/terraform-provider-aws_v4.60.0_x5
learning/aws/vpc/.terraform.lock.hcl
learning/aws/.terraform.lock.hcl
learning/aws/terraform.tfstate
learning/.terraform.lock.hcl
learning/docker-example/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/CHANGELOG.md
learning/docker-example/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/LICENSE
learning/docker-example/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/README.md
learning/docker-example/.terraform/providers/registry.terraform.io/kreuzwerker/docker/2.13.0/linux_amd64/terraform-provider-docker_v2.13.0
learning/docker-example/.terraform.lock.hcl
learning/docker-example/terraform.tfstate
learning/docker-example/terraform.tfstate.backup
projects/XL/360_CA/.terraform.lock.hcl
projects/XL/360_CA/terraform.tfstate
projects/XL/360_CA/terraform.tfstate.backup
projects/XL/360_CA/.terraform/modules/modules.json
projects/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/aws/4.66.1/linux_amd64/terraform-provider-aws_v4.66.1_x5
projects/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/local/2.4.0/linux_amd64/terraform-provider-local_v2.4.0_x5
projects/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/linux_amd64/terraform-provider-random_v3.5.1_x5
projects/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.4/linux_amd64/terraform-provider-tls_v4.0.4_x5
projects/XL/360_CA/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
